:root {
    --primaryColor:#0c3047;
    --secondaryColor:#5aaf80;
    --tertiaryColor:white;
}

*,
*::after,
*::before {
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

        /* UNIVERSAL*/
nav a:hover {
    color: var(--secondaryColor);
}        
/* INDEX.HTML FILE */
li a{
    text-decoration: none;
    color: white;
    padding: 3px;
}
nav{
    background-color: var(--primaryColor);
}
.showcase {
    background-color: var(--primaryColor);
    min-height: 95vh;
}


