:root {
    --primaryColor:#0c3047;
    --secondaryColor:#5aaf80;
    --tertiaryColor:white;
}

*,
*::after,
*::before {
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

        /* UNIVERSAL*/
nav a:hover {
    color: var(--secondaryColor);
}

        /* INDEX */
li a{
    text-decoration: none;
    color: white;
    padding: 3px;
}
nav{
    background-color: var(--primaryColor);
}
.showcase {
    background-color: var(--primaryColor);
    min-height: 95vh;
}

        /* RESUME */
#resume {
    background-color: var(--primaryColor);
    min-height: 95vh;

}
#about {
    background-color: var(--primaryColor);
    min-height: 95vh;

}

        /* About */
#about img {
    border-radius: 60%;
}
.card p {
    color: var(--primaryColor);
}

@media screen and (max-width: 720px) and (min-width:300px) {
    #about img {
        display: none;
    }
    
    
}
