:root {
    --primaryColor:#0c3047;
    --secondaryColor:#198754;
    --whiteColor:white;
}

*,
*::after,
*::before {
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

        /* UNIVERSAL*/
nav a:hover {
    color: var(--secondaryColor);
}
nav a:active {
    color: black;
}

        /* INDEX */
li a{
    text-decoration: none;
    color: white;
    padding: 3px;
}
nav{
    background-color: var(--primaryColor);
}
#landing {
    background-color: var(--primaryColor);
    min-height: 90vh;
}

        /* About */
#about {
    background-color: var(--primaryColor);
    min-height: 90vh;
}
#about img {
    border-radius: 60%;
}
.card p {
color: var(--primaryColor);
}
        /* RESUME */
#resume {
    background-color: var(--primaryColor);
    min-height: 95vh;
}
#resume .card {
    background-color: var(--secondaryColor);
}


/* @media screen and (max-width: 720px) and (min-width:300px) {
    #about img {
        display: none;
    }    
} */

        /* SKILLS */
#skills {
    background-color: var(--primaryColor);
    min-height: 60vh;
}
#skills .progress {
    margin: 10px;
}
#skills h6 {
    color: white;
    padding-left: 10px;
}
        /* FOOTER */
footer {
    background-color: var(--secondaryColor);
}